
.formulario{
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0;
}
mat-form-field{
    margin: 12px 30px 10px;
}

.no-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
  }
  
  .no-data-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .no-data-text {
    font-size: 16px;
  }

  .form-group{
    margin-top:1rem;
    margin-bottom: 1rem;
  }

  button{
    margin-top:1rem;
    margin-bottom: 2rem;
  }

  .form-label{
    font-weight: bold;
  }
  





  

/***** new css*****//***** Section *****/




* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 92.6vh;
  background:#263238;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.table {
  width: 82vw;
  height: 85vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: rgb(255, 255, 255);

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}