.sidenav{
    background: #263238;
    transition: all .2s ease;
    position: fixed;
    z-index: 1;
    width: 12rem;
    height: 100vh;
  
    
  }
  
  .logo-container{
    display: flex;
    align-items: center;
    padding: 1.938rem  3.438rem 0.938rem;
    width: 100%;
  
    .logo{
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 5rem;
      border-radius: 0.313rem;
      padding: 0.613rem;
      font-weight: 900;
      font-size: 40px;
      cursor: pointer;
      border: none; 
  
    }
    .logo-text{
      margin-left: 1rem;
      font-size: 23px;
      font-weight: 700;
      color: #fff;
  
    }
    .btn-close{
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;
  
      .fa-times{
        color: #fff;
        font-size: 24px;
      }
  
    }
  }
  
  .sidenav-collapsed{
    width: 25rem;
  }
  
  .sidenav-nav{
    list-style: none;
    padding: 3.438rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
  
    .sidenav-nav-item{
      width: 100%;
      margin-bottom: 0.625rem;
  
      .sidenav-nav-link{
        display: flex;
        align-items: center;
        height: 5rem;
        color: #f3f3f3;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: all .3s ease;
  
        .sidenav-link-icon {
          font-size: 38px;
          width: 2rem;
          min-width: 2rem;
          margin: 0 1.2rem;
          text-align: center;
        }
  
        .sidenav-link-text{
          margin-left: 1.5rem;
          font-size: 1rem;
          
        }
      }
  
    }
    .sidenav-nav-item:hover{
      .sidenav-nav-link{
        background-color: #fff;
        color: #000;
      }
    }
  }
  
  
  
  .active {
    background-color: #fff;
    .sidenav-link-icon,
    .sidenav-link-text{
      color: #000;
    }
  }